; [submodule "ext/lsp"]
; 	path = ext/lsp
; 	url = https://github.com/clpi/down.lsp.git
; [submodule "ext/mcp"]
;   path = ext/mcp
;   url = https://github.com/clpi/down.mcp.git
[submodule "ext/down"]
  path = ext/down
  url = https://github.com/clpi/down.git
